*, *::before, *::after {
    box-sizing: border-box;
    
    margin: 0;

    /* outline: auto; */
}

body {
    background-color: #F7EFE5;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
}

/* FONT SIZE RESPONSIVENESS */
/* Mobile */
@media only screen and (max-width: 600px) { 
    body { font-size: 1rem; }
 }

/* HEADER */
.top-bar {  
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    
    width: 100%;

    background-color: #674188;

    box-shadow: 0 0 8px #674188;
}

/* clearfix */
.top-bar::after {
    content: '';
    display: table;
    clear: both;
}

.title-container {
    display: flex;
    float: left;

    height: 59px;
    width: 50%;

    color: #FFFBF5;
    text-transform: uppercase;
    text-shadow: 0 0 4px black;

    padding-left: 2rem; 

    align-items: center;
}

nav {
    float: right;

    width: 50%;

    padding-right: 2rem;
}

.nav-list, .dropdown-content {
    list-style-type: none;

    padding-left: 0;
}

.nav-list { float: right; }

.nav-items {
    position: relative;
    display: inline-block;

    width: 120px;

    padding: 1rem 0;
    margin-right: 0.8px;
}

.nav-anchors, .dropdown-anchors {
    color: #FFFBF5;
    text-decoration: none;
}

.nav-anchors {
    box-sizing: content-box;
    display: block;

    width: 100%;

    text-align: center;

    border-right: 1px solid #F7EFE5;
}

.nav-items:last-child .nav-anchors {
    border-right: none;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;

    margin-top: 1rem;
    background-color: #C3ACD0;

    border: 1px solid #674188;
    border-top: none;
}

.dropdown-items {
    padding: 1rem 3rem 1rem 1.5rem;

    border-top: 1px solid #674188;
}

.dropdown-items:last-child {
    border-top: 1px solid #674188;
    border-bottom: none;
}

.dropdown-anchors { opacity: .5; }

/* NAV HOVER EFFECTS */
.nav-items:hover { background-color: #C3ACD0; }

.nav-items:hover .nav-anchors { opacity: .75; }

.nav-items:hover .nav-anchors:hover { opacity: 1; }

.dropdown:hover .dropdown-content { display: block; }

.dropdown-content:hover { opacity: 1; }

.dropdown-items:hover .dropdown-anchors { opacity: .75; }

.dropdown-items:hover .dropdown-anchors:hover { opacity: 1; }

.nav-items:hover, .dropdown:hover, .dropdown-items:hover, .dropdown-anchors:hover { transition: all ease-out 100ms; }

/* NAV AFTER HOVER */
.nav-items, .dropdown, .dropdown-items, .dropdown-anchors { transition: all ease-in 50ms; }

/* NAV RESPONSIVENESS */
/* Mobile */
@media only screen and (width <= 600px) {
    .top-bar {
        position: relative;

        box-shadow: none;
    }
    
    .title-container {
        float: none;
        display: block;

        height: fit-content;
        width: 100%;

        border-bottom: 1px solid black;
    }

    h4 {
        display: block;

        padding: 1rem 0;
    }

    nav {
        float: none;

        width: 100%;

        padding: 0;
    }

    .nav-list { float: none; }

    .nav-items {
        display: block;

        width: 100%;

        padding: .5rem 0;

        margin-right: 0;
    }

    .nav-items:last-child { box-shadow: 0 1px black; }

    .nav-anchors {
        box-sizing: border-box;
        display: inline;

        text-align: left;
        
        opacity: .75;

        padding-left: 2rem;

        border-right: none;
    }

    .nav-items:hover .dropdown-content { display: none; }

    .nav-items:hover .nav-anchors { opacity: .75; }

    .nav-items:hover .nav-anchors:hover { opacity: 1; }

    .nav-items:hover { background-color: #674188; }
}

/* Tablet */
@media only screen and (max-width: 1000px) and (min-width: 601px) {
    .title-container { width: 30%; }

    nav {
        width: 70%;
        padding-right: 0;
    }

    .nav-items:hover .dropdown-content {
        display: none;
    }
}

/* MAIN */
/* INTRODUCTION SECTION */
.intro-section {
    text-align: center;

    padding-top: 8rem;

    border-bottom: 1px solid #C3ACD0;
}

.intro-name {
    font-size: 4rem;
    
    margin-bottom: 2rem;
}

.name-style {
    color: #674188;
    
    font-weight: bolder;
}

.intro-desc {
    font-size: 2rem;
    text-transform: uppercase;

    margin-bottom: 4rem;
}

.contact-btn {
    background-color: #C3ACD0;
    color: #674188;
    font-size: 1rem;

    padding: 1rem;
    margin-bottom: 8rem;

    border: 3px solid #674188;
    border-radius: 5px 0px 5px 0;
}

/* BUTTON EFFECTS */
.contact-btn:hover {
    font-size: 1.25rem;

    transition: all ease-out 100ms;
}

.contact-btn:active {
    background-color: #674188;
    color: #FFFBF5;

    transition: all ease 1ms;
}

.contact-btn { transition: all ease-in 50ms; }

/* INTRO SECTION RESPONSIVENESS */
/* Mobile */
@media only screen and (max-width: 600px) {
    .intro-section { padding-top: 4rem; }

    .intro-name { font-size: 3rem; }

    .intro-desc { font-size: 1.5rem; }

    .contact-btn { margin-bottom: 4rem; }
}

/* Tablet */
@media only screen and (max-width: 1000px) and (min-width: 601px) {
    .intro-section { padding-top: 6rem; }

    .contact-btn { margin-bottom: 6rem; }
}

/* FEATURED SKILLS SECTION */
.skills-section {
    display: flex;

    background-color: #FFFBF5;

    padding: 4rem 0;

    justify-content: space-evenly;
    flex-wrap: wrap;

    border-bottom: 1px solid #C3ACD0;
}

.skill-container {
    max-width: 350px;
    width: 100%;
}

.skill-name {
    color: #674188;

    margin-bottom: 1rem;
}

.img-container {
    height: 200px;

    background-color: #F7EFE5;

    border: 1px solid #674188;
    border-radius: 6px;

    margin-bottom: 2rem;
}

.skill-desc { line-height: 1.5; }

/* SKILLS SECTION RESPONSIVENESS */
/* Mobile */
@media only screen and (max-width: 600px) {
    .skills-section { padding: 2rem 0; }

    .skill-container { margin-bottom: 2rem; }

    .skill-container:last-child { margin-bottom: none; }
}

/* Tablet */
@media only screen and (max-width: 1000px) and (min-width: 601px) {
    .skills-section { padding: 3rem 0; }

    .skill-container { margin-bottom: 1rem; }

    .skill-container:last-child { margin-bottom: none; }
}

/* FOOTER */
footer {
    width: 100%;
    
    text-align: center;
    text-transform: capitalize;

    padding: 1rem;
}

/* FOOTER RESPONSIVENESS */
/* Mobile */
@media only screen and (max-width: 600px) {
    footer { padding: 2rem; }
}

/* Tablet */
@media only screen and (max-width: 1000px) and (min-width: 601px) {
    footer { padding: 1.5rem; }
}
