*, *::before, *::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;

    background-color: whitesmoke;

    overflow: hidden;
}

.offsite-container {
    position: fixed;
    top: 0;
    left: -16rem;
    bottom: 0;

    width: 16rem;

    background-color: black;

    padding-top: 8rem;
}

a {
    display: block;

    text-decoration: none;
    color: whitesmoke;

    padding: .5rem 0 .5rem 4rem;
}

a:hover {
    background-color: gray;
    color: white;
}

.onsite-container {
    padding-top: 8rem;
    padding-left: 4rem;
}

p {
    margin-bottom: 4rem;
}

button {
    padding: 1rem 2rem;
    border-radius: 4px;

    transition: all ease-in-out 250ms;
}

button:hover {
    box-shadow: 0 0 4px gray;
}

button.menu-is-open {
    background-color: black;
    color: whitesmoke;
    border: 2px solid gray;
    
    transition: all ease-in-out 250ms;
}

.menu-is-open .offsite-container, .menu-is-open .onsite-container {
    transform: translateX(16rem);

    transition: all ease-in-out 125ms;
}

.offsite-container, .onsite-container {
    transition: all ease-in-out 125ms;
}