*, *::before, *::after {
    box-sizing: border-box;

    margin: 0;
}

body {
    display: flex;

    height: 100vh;

    flex-direction: row-reverse;

    background-color: whitesmoke;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.125rem;
    line-height: 1.25;

    counter-reset: exercise;
}

main {
    display: flex;
    
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

    width: 75%;
    height: 100%;
}

.container {
    display: flex;

    flex-direction: column;

    width: max-content;
}

.circle {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    background-color: forestgreen;
    color: rgba(255, 255, 255, 0.8);
    font-size: small;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 0 4px black;

    margin: 0 auto;

    transition: all ease 100ms;
}

.circle:hover {
    color: rgba(255, 255, 255, 1);

    clip-path: none;

    border-radius: 50%;

    transition: all ease 200ms;
}

.label {
    margin-top: 1rem;
}

aside {
    width: 25%;

    background-color: green;
    color: whitesmoke;

    padding: 1rem;

    border-right: 2px solid black;
}

.button-is-clicked {
    background-color: #4F709C;
}

.circle.button-is-clicked {
    border: 2px solid #213555;
}

aside h3, aside div {
    margin-bottom: 1rem;
}

aside div:last-of-type {
    margin-bottom: 2rem;
}

aside div::before {
    content: counter(exercise) ".";
    counter-increment: exercise;
}

button {
    width: 50%;
    
    font-size: 1em;

    padding: 1rem 0;
    margin: 0 auto;

    border-radius: 4px;
}

.is-clicked {
    background-color: #D8C4B6;
    color: #213555;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;

    color: whitesmoke;

    padding: 1rem;
}