*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;

    /* outline: auto; */
}

body {
    font-size: 1.125rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background-color: black;
    color: whitesmoke;
}

.nav__title {
    display: inline-block;
}

.nav__list {
    display: flex; 
    gap: 2rem;
    list-style-type: none;
}

.nav__items > a {
    color: inherit;
    text-decoration: none;
}

.nav__items > a:hover {
    color: gray;
}

.par-1 {
    background: url(../img/deer.jpg);
}

.par-2 {
    background: url(../img/panda.jpg);
}

.parallax {
    color: white;
    padding: 8rem;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax > h1, .parallax > h2 {
    margin-bottom: 1rem;
}

.parallax > p {
    margin-bottom: 0.75rem;
}

input[type="checkbox"] {
    margin-right: 8px;
    margin-bottom: 16px;
}

.btn {
    display: block;
    background-color: black;
    padding: .5rem 1rem;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 2px;
    margin-bottom: 8px;
}

.btn:hover {
    color: gray;
    cursor: pointer;
}

.side-quest-txt {
    display: none;
}

.side-quest-txt[revealed=true] {
    display: block;
}